#container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    ". . h1 . ."
    ". . timer . ."
    ". . h3 . ."
    ". . control . ." ;
  grid-gap: 30px;
}
h1{
  margin-top: 20px;
  grid-area:h1;
  text-align: center;
  color: #00bcd4;

}


#session{
  grid-area: h3;
  text-align: center;
  color: #00bcd4;
  font-style: italic;
  font-size: 30px;

}
#timer {
  grid-area: timer;
  background-color: #00bcd4;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}


#countdown{
  color: #fff;
  font-size: 100px;
}

#controlpanel{
  grid-area:control;
  border-radius: 15px;
  margin: auto;
}
button {
  background-color: white;
}
ul{
  list-style: none;
}
.back {

  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count:infinite;

  }

  .circle {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 150px;
    width: 150px;
    border-radius:50%;
    animation-name: beat;
    animation-duration: 4s;
    animation-iteration-count:infinite;


  }

  @keyframes backdiv {
    50% {
      background: #f2db93;
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.6);
    }
  }
